.flex-header {
  background-color: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
}

#title {
  font-family: "Great Vibes", cursive;
  font-size: 48px;
  color: darkgoldenrod;
}
